.App {
  text-align: center;
}

.Banner {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333;
  max-width: 100%;
  z-index: 1000;
}

.Nav {
  font-family: Muli, Sans-Serif;
  color: #f2f2f2;
  font-size: 17px;
  padding-left: 15px; 
  padding-right: 15px;
  text-decoration: none;
  display: inline-block;
}

.Grow {
  transition: .9s ease-in-out;
}

.Grow:hover {
  transform: scale(1.2);
  background-color: black;
  text-decoration: none;
  color: #f2f2f2;
}

.Sticky {
  position: sticky;
  top: 0;
}

.Container {
  width: 100%;
  border: outset;
  margin-top: 30px;

}

.Fun-Fact {
  border-top: solid;
  border-top-width: 1px;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: Muli, Sans-Serif;
}

.Profile-Pic {
  padding-top: 10px;
  width: 356px;
  height: 500px;
  border-radius: 180px;
  position: relative;
}

.Quote {
  padding-top: 15px;
  font-family: Muli, Sans-Serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #282c34;
}

.Pdf {
  width: 100%;
  height: 100vh;
  left: 0; 
}

.Page-Section-Text {
  border-top: groove;
  font-family: "Muli", sans-serif;
  color: #282c34;
}

.Modal-input-box {
  font-family: "Muli", sans-serif;
  color: #282c34;
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none;
  box-sizing: none;
  transition: none;
}

.Form-Control:valid {
  color: blue;
}

.page-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;

}

.Center {
  margin: auto;
}

.Border {
  border: outset;
}

.Flex {
  display: flex;
  height: 300px;

  flex-wrap: wrap;
  justify-content: center;
}

.Interest-Image {
  max-width: 35%;
  border-radius: 1em
}

.Top-Padding-Size {
  font-size: 1.1em;
  padding-top: 2em;
}
